<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
  data-assets-path="../assets/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>orders -admin</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="../assets/vendor/fonts/materialdesignicons.css" />

  <!-- Menu waves for no-customizer fix -->
  <link rel="stylesheet" href="../assets/vendor/libs/node-waves/node-waves.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="../assets/vendor/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../assets/js/config.js"></script>
</head>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
<style>
  .menu-inner {
      height: calc(100vh - 60px); /* Set a fixed height, adjust as needed */
      overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  }
</style>



<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
          <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo me-1">
              <span style="color: var(--bs-primary)">

              </span>
            </span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Happy kids</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="mdi menu-toggle-icon d-xl-block align-middle mdi-20px"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <!-- Dashboards -->
          <li class="menu-item active open">
            <a href="/admin/home" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
              <div data-i18n="Dashboards">Dashboards</div>
              <div class="badge bg-danger rounded-pill ms-auto"></div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/admin/users" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-account"></i>
              <div data-i18n="User Settings">Users</div>
            </a>
            <a href="/admin/orders" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-package"></i>
              <div data-i18n="Order Settings">Orders</div>
          </a>
          
          
            <ul>
              <li class="menu-header small text-uppercase">
                <i class="menu-icon tf-icons mdi mdi-cube-outline"></i>
                <span class="menu-header-text">Products</span>
              </li>
              <li>
                <a href="/admin/add-products" class="menu-link menu-toggle">
                  <div data-i18n="Account Settings">Add Products</div>
                </a>
              </li>
              <li>
                <a href="/admin/product-list" class="menu-link menu-toggle">
                  <div data-i18n="Account Settings">View & Update products</div>
                </a>
              </li>
            </ul>
          
            <ul>
              <li class="menu-header small text-uppercase">
                <i class="menu-icon tf-icons mdi mdi-view-grid-outline"></i>
                <span class="menu-header-text">Categories</span>
              </li>
              <li>
                <a href="/admin/add-category" class="menu-link menu-toggle">
                  <div data-i18n="Account Settings">Add Category</div>
                </a>
              </li>
              <li>
                <a href="/admin/category-list" class="menu-link menu-toggle">
                  <div data-i18n="Account Settings">View & Update Category</div>
                </a>
              </li>
            </ul>
            <ul>
              <li class="menu-header small text-uppercase">
                <i class="menu-icon tf-icons mdi mdi-ticket"></i>
                <span class="menu-header-text">Coupons</span>
              </li>
              <li>
                <a href="/admin/add-coupon" class="menu-link menu-toggle">
                  <div data-i18n="Add Coupon">Add Coupon</div>
                </a>
              </li>
              <li>
                <a href="/admin/view-coupon" class="menu-link menu-toggle">
                  <div data-i18n="View & Update Coupons">View & Update Coupons</div>
                </a>
              </li>
            </ul>
            <ul>
              <li class="menu-header small text-uppercase">
                  <i class="menu-icon tf-icons mdi mdi-image"></i>
                  <span class="menu-header-text">Banners</span>
              </li>
              <li>
                  <a href="/admin/add-banner" class="menu-link menu-toggle">
                      <div data-i18n="Add Banner">Add Banner</div>
                  </a>
              </li>
              <li>
                  <a href="/admin/view-banners" class="menu-link menu-toggle">
                      <div data-i18n="View & Update Banners">View & Update Banners</div>
                  </a>
              </li>
          </ul>

          </li>
            
           
          
        </ul>
      </aside>
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">
          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="mdi mdi-menu mdi-24px"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                <i class="mdi mdi-magnify mdi-24px lh-0"></i>
                <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Search..."
                  aria-label="Search..." />
              </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- Place this tag where you want the button to render. -->
              <!-- <li class="nav-item lh-1 me-3">
                <a class="github-button"
                  href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free"
                  data-icon="octicon-star" data-size="large" data-show-count="true"
                  aria-label="Star themeselection/materio-bootstrap-html-admin-template-free on GitHub">Star</a>
              </li> -->

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                  <li>
                    <a class="dropdown-item pb-2 mb-1" href="#">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2 pe-1">
                          <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="mb-0">Admin</h6>
                          <!-- <small class="text-muted">Admin</small> -->
                        </div>
                      </div>
                    </a>
                  </li>
                  
                  <li>
                    <div class="dropdown-divider my-1"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/admin/logout">
                      <i class="mdi mdi-power me-1 mdi-20px"></i>
                      <span class="align-middle">Log Out</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>Order Details</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>Order ID:</strong> <%= order.orderID %></li>
                        <li><strong>Order Date:</strong> <%= order.orderDate.toLocaleDateString() %></li>
                        <li><strong>Total Amount:</strong> <%= order.totalAmount %></li>
                        <li><strong>Payment Method:</strong> <%= order.paymentMethod %></li>
                        <li><strong>Shipping Address:</strong>
                            <%= order.shippingAddress.houseName %>,
                            <%= order.shippingAddress.street %>,
                            <%= order.shippingAddress.city %>,
                            <%= order.shippingAddress.state %>,
                            <%= order.shippingAddress.postalcode %>,
                            <%= order.shippingAddress.country %>
                        </li>
                        <li><strong>Order Status:</strong> <%= order.status %></li>
                        <li><strong>Order Items:</strong></li>
                        <table>
                          <thead>
                              <tr>
                                  <th>Product Name</th>
                                  <th>Image</th>
                                  <th>Quantity</th>
                                  <th>Price per Item</th>
                                  <th>Return Status</th>
                                  <th>Return reason</th>
                                  <th>Action</th>
                                 
                              </tr>
                          </thead>
                          <tbody>
                              <% order.orderItems.forEach(item => { %>
                                  <tr>
                                      <td><strong><%= item.name %></strong></td>
                                      <td>
                                        <% if (item.product && item.product.images && item.product.images.length > 0) { %>
                                          <% const relativeImagePath = "/productimages/" + item.product.images[0]; %>
                                          <img src="<%= encodeURI(relativeImagePath) %>" alt="<%= item.name %> Image" class="product-image" width="50" height="50">
                                        <% } else { %>
                                          <!-- Handle the case when item.product or item.product.images is null or empty -->
                                          <img src="/default-image.jpg" alt="Default Image" class="product-image" width="50" height="50">
                                        <% } %>
                                      </td>
                                      
                                      
                                      <td><%= item.quantity %></td>
                                      <td><%= item.pricePerItem %></td>
                                      <td><%= item.returnStatus%></td>
                                      <td><%= item.returnReason%></td>

                                      <td>
                                        <form action="/admin/edit-product-return/<%= order._id %>/<%= item._id %>" method="POST" style="display: inline;">
                                          <select name="newReturnStatus">
                                              <option value="" disabled selected>Select Return Status</option>
                                              
                                              <option value="Accepted">Accepted</option>
                                              <option value="Rejected">Rejected</option>
                                          </select>
                                          <button type="submit"><i class="mdi mdi-pencil-outline me-1"></i>Edit Return</button>
                                      </form>
                                      </td>
                                      
                                      
                                      
                                  </tr>
                              <% }); %>
                          </tbody>
                          
                      </table>  
                        
                        <!-- Add more order details as needed -->
                    </ul>
                </div>
            </div>
      </div>
      
            
          <!-- / Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
              <div
                class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
               
                
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->



  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="../assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../assets/vendor/libs/popper/popper.js"></script>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../assets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="../assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="../assets/js/dashboards-analytics.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Your HTML code for users.ejs -->
<!-- ... -->

</body>


</html>