<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/checkout.html   11 Nov 2019 12:44:33 GMT -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout </title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- Add this to the <head> section of your HTML -->
<!-- Include SweetAlert from CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<style>
    /* Add some styling to make the wallet section stand out */
    #walletBalance {
    font-weight: bold;
    color: #717273; /* Choose a color that fits your overall design */
    margin-left: 10px; /* Add some spacing between the label and balance */
    /* Ensure the balance is on the same line as the label */
}



</style>

<body class="page-template belle">
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="#">
                    <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
                        aria-label="Search" autocomplete="off">
                </form>
                <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
            </div>
        </div>
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                        <div class="currency-picker">
                            <!-- <span class="selected-currency">USD</span> -->

                        </div>
                        <div class="language-dropdown">
                            <!-- <span class="language-dd">English</span> -->

                        </div>
                        <!-- <p class="phone-no"><i class="anm anm-phone-s"></i> +440 0(111) 044 833</p> -->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center">
                            <p class="top-header_middle-text"> Worldwide Express Shipping</p>
                        </div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                        <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al"
                                aria-hidden="true"></i></span>
                        <ul class="customer-links list-inline">
                            <!-- <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Create Account</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="Belle Multipurpose Html Template"
                                title="Belle Multipurpose Html Template" height="60" 
                                width="150"/>
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button"
                                class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu"><a href="/home">Home <i
                                            class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="/shop">Shop <i
                                            class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="/order-history">Orders <i
                                            class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown"><a href="/wallet">Wallet<i
                                            class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1"><a href="/my-profile"><b>My account</b> <i
                                            class="anm anm-angle-down-l"></i></a>
                                </li>
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                                    title="Belle Multipurpose Html Template" />
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="#" class="site-header__cart" title="Cart">
                                <i class="icon anm anm-bag-l"></i>
                                <!-- <span id="CartCount" class="site-header__cart-count"
                                    data-cart-render="item_count">2</span> -->
                            </a>
                            <!--Minicart Popup-->
                            <div id="header-cart" class="block block-cart">

                                <div class="total">

                                    <div class="buttonSet text-center">
                                        <a href="cart.html" class="btn btn-secondary btn--small">View Cart</a>
                                        <a href="checkout.html" class="btn btn-secondary btn--small">Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!--End Minicart Popup-->
                        </div>
                        <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>

                </li>
                <li class="lvl1 parent megamenu"><a href="#">Shop <i class="anm anm-plus-l"></i></a>

                </li>
                <li class="lvl1 parent megamenu"><a href="/order-history">Orders <i
                            class="anm anm-angle-down-l"></i></a>

                </li>
                <li class="lvl1 parent dropdown"><a href="/wallet">Wallet<i class="anm anm-angle-down-l"></i></a>

                </li>

                <li class="lvl1"><a href="/my-profile"><b>My Account</b></a>
                </li>
            </ul>
        </div>
        <!--End Mobile Menu-->

        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 class="page-width">Checkout</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->
            <div class="container">
                <div class="row">
                    <!-- Order Table on the Left -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="your-order-payment">
                            <div class="your-order">
                                <h2 class="order-title mb-4">Your Order</h2>
                                <div class="table-responsive-sm order-table">
                                    <table class="bg-white table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Product Name</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% userCart.items.forEach((item, index)=> { %>
                                                <tr>
                                                    <td class="text-left">
                                                        <%= item.product.name %>
                                                    </td>
                                                    <td>₹<%= item.product.offerPrice %>
                                                    </td>
                                                    <td>
                                                        <%= item.quantity %>
                                                    </td>
                                                    <td>₹<%= item.product.offerPrice * item.quantity %>
                                                    </td>
                                                </tr>
                                                <% }); %>

                                        </tbody>
                                        <tfoot class="font-weight-600">
                                            <tr>
                                                <td colspan="3" class="text-right">Total:</td>
                                                <td>₹<%= userCart.items.reduce((total, item)=> {
                                                        const itemOfferPrice = item.product ? (item.product.offerPrice
                                                        || 0) : 0;
                                                        const itemQuantity = item.quantity || 0;
                                                        return total + (itemOfferPrice * itemQuantity);
                                                        }, 0).toFixed(2) %></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-right">Total after discount:</td>
                                                <td id="grandTotalCell"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <hr />

                        </div>
                    </div>


                    <!-- Address Select Form on the Right -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="customer-box returning-customer">
                            <h3><i class="icon anm anm-user-al"></i> <a href="#customer-login" id="customer"
                                    class="text-white text-decoration-underline" data-toggle="collapse">Click here to
                                    select address</a></h3>
                            <div id="customer-login" class="collapse customer-content">
                                <div class="customer-info">
                                    <form action="/placeOrder" method="post" id="placeOrderForm">
                                        <div class="row">
                                            <!-- Assuming user.address is an array of addresses from your database -->
                                            <% user.address.forEach((address, index)=> { %>
                                                <div class="form-check col-12">
                                                    <input type="radio" class="form-check-input" name="selectedAddress"
                                                        value="<%= index %>" id="address<%= index %>" required>
                                                    <label class="form-check-label" for="address<%= index %>"
                                                        style="white-space: pre-line;">
                                                        <!-- Display address details with line breaks using inline style -->
                                                        <h6 style="display: inline;">Address <%= index + 1 %>:</h6>
                                                        <%= `${address.house_name}, ${address.street},\n${address.city},
                                                            ${address.state},\n${address.postalcode},
                                                            ${address.country}` %>
                                                    </label>
                                                </div>
                                                <% }); %>
                                        </div>

                                        <!-- Payment Method Section -->
                                        <fieldset>
                                            <legend>Payment Options:</legend>
                                            <ul>
                                                <li>
                                                    <label for="paymentMethodCash">
                                                        <input type="radio" id="paymentMethodCash" name="paymentMethod" value="Cash On Delivery" required>
                                                        Cash on delivery
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="paymentMethodOnline">
                                                        <input type="radio" id="paymentMethodOnline" name="paymentMethod" value="Online payment" required>
                                                        Online Payment
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="paymentMethodWallet">
                                                        <input type="radio" id="paymentMethodWallet" name="paymentMethod" value="Wallet" required>
                                                        Wallet
                                                        <span id="walletBalance"> Wallet Balance: <%= userWallet.walletAmount %></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </fieldset>
                                        
                                        
                                        <input type="hidden" name="newGrandTotal" id="newGrandTotalInput">
                                        <!-- Place Order Button -->
                                        <div class="order-button-payment">
                                            <button id="placeOrderButton" type="submit" class="btn" <% if (isCartEmpty) { %>disabled<% } %>
                                                    >Place Order</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="customer-box returning-customer">
                        <h3 data-toggle="collapse" href="#collapseForm">
                            <i class="icon anm anm-user-al d-none"></i> <!-- Hide the user icon using d-none class -->
                            Add New Address
                            <a href="#" class="text-white text-decoration-underline" data-toggle="collapse"
                                href="#collapseForm">
                                <span style="font-size: 0.8em;">Click here</span>
                            </a>
                        </h3>
                        <div id="collapseForm" class="collapse" style="border: 1px solid #ccc; padding: 20px;">

                            <form method="post" action="/my-profile" id="CustomerRegisterForm" accept-charset="UTF-8"
                                class="contact-form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="HouseName">House Name</label>
                                            <input type="text" name="customer[address][house_name]" placeholder=""
                                                id="HouseName">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Street">Street</label>
                                            <input type="text" name="customer[address][street]" placeholder=""
                                                id="Street">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="City">City</label>
                                            <input type="text" name="customer[address][city]" placeholder="" id="City">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="State">State</label>
                                            <input type="text" name="customer[address][state]" placeholder=""
                                                id="State">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="PostalCode">Postal Code</label>
                                            <input type="text" name="customer[address][postal_code]" placeholder=""
                                                id="PostalCode">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="Country">Country</label>
                                            <input type="text" name="customer[address][country]" placeholder=""
                                                id="Country">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <input type="submit" class="btn mb-3" value="Save">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>


            <!--End Body Content-->

            <!--Footer-->
            <footer id="footer">
                <div class="newsletter-section">
                    <div class="container">
                        <div class="row">
                            <div
                                class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                                <div class="display-table">
                                    
                                </div>
                            </div>
                            <div
                                class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                                <div class="footer-social">
                                    <ul class="list--inline site-footer__social-icons social-icons">
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                                    class="icon icon-facebook"></i></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i
                                                    class="icon icon-twitter"></i> <span
                                                    class="icon__fallback-text">Twitter</span></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i
                                                    class="icon icon-pinterest"></i> <span
                                                    class="icon__fallback-text">Pinterest</span></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
                                                    class="icon icon-instagram"></i> <span
                                                    class="icon__fallback-text">Instagram</span></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i
                                                    class="icon icon-tumblr-alt"></i> <span
                                                    class="icon__fallback-text">Tumblr</span></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i
                                                    class="icon icon-youtube"></i> <span
                                                    class="icon__fallback-text">YouTube</span></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i
                                                    class="icon icon-vimeo-alt"></i> <span
                                                    class="icon__fallback-text">Vimeo</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer">
                    <div class="container">
                        <!--Footer Links-->
                        <div class="footer-top">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Quick Shop</h4>
                                    <ul>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Sportswear</a></li>
                                        <li><a href="#">Sale</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Informations</h4>
                                    <ul>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Terms &amp; condition</a></li>
                                        <li><a href="#">My Account</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                    <h4 class="h4">Customer Services</h4>
                                    <ul>
                                        <li><a href="#">Request Personal Data</a></li>
                                        <li><a href="#">FAQ's</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Orders and Returns</a></li>
                                        <li><a href="#">Support Center</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                    <h4 class="h4">Contact Us</h4>
                                    <ul class="addressFooter">
                                        <li><i class="icon anm anm-map-marker-al"></i>
                                            <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                                        </li>
                                        <li class="phone"><i class="icon anm anm-phone-s"></i>
                                            <p>(440) 000 000 0000</p>
                                        </li>
                                        <li class="email"><i class="icon anm anm-envelope-l"></i>
                                            <p>sales@yousite.com</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End Footer Links-->
                        <hr>
                        <div class="footer-bottom">
                            <div class="row">
                                <!--Footer Copyright-->
                                <div
                                    class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                                    <span></span> <a href="templateshub.net">Templates Hub</a>
                                </div>
                                <!--End Footer Copyright-->
                                <!--Footer Payment Icon-->
                                <div
                                    class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                    <ul class="payment-icons list--inline">
                                        <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                        <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <!--End Footer Payment Icon-->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--End Footer-->
            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
            <!--End Scoll Top-->

            <!-- Including Jquery -->
            <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
            <script src="assets/js/vendor/jquery.cookie.js"></script>
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/wow.min.js"></script>
            <!-- Including Javascript -->
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/lazysizes.js"></script>
            <script src="assets/js/main.js"></script>
        </div>
        <script>
            // Function to get the value of a URL parameter by name
            function getQueryParam(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }

            // Retrieve the newGrandTotal from the URL
            const newGrandTotal = getQueryParam('newGrandTotal');

            // Display the newGrandTotal in the HTML
            const grandTotalCell = document.getElementById('grandTotalCell');
            if (grandTotalCell) {
                grandTotalCell.textContent = `₹${newGrandTotal || 'No discount'}`;
            }

            // Set the newGrandTotal value to the hidden input field before submitting the form
            const placeOrderForm = document.getElementById('placeOrderForm');
            const newGrandTotalInput = document.getElementById('newGrandTotalInput');

            if (placeOrderForm && newGrandTotalInput) {
                newGrandTotalInput.value = newGrandTotal || ''; // Set the value to the hidden input
                console.log('newGrandTotal:', newGrandTotal);
                console.log('newGrandTotalInput value:', newGrandTotalInput.value);
            }
        </script>
         <script>
            // Function to get query parameters from the URL
    function getQueryParam(name) {
        const urlSearchParams = new URLSearchParams(window.location.search);
        return urlSearchParams.get(name);
    }
    
    // Get the error message from the URL
    const errorMessage = getQueryParam('errorMessage');
    
    // Display the error message if it exists
    if (errorMessage) {
    Swal.fire({
        icon: 'error',
        title:decodeURIComponent(errorMessage) ,
        text:'Please choose other payment method' 
    }).then(() => {
        // Handle the alert confirmation or add any additional logic
    });
}
    
        </script> 
    

</body>

<!-- belle/checkout.html   11 Nov 2019 12:44:33 GMT -->

</html>